.idea/
out/
build/
.gradle

src/test/python/db/
!src/test/python/db/gitkeep

src/test/python/got/
!src/test/python/got/gitkeep

src/test/resources/android-platforms/
!src/test/resources/android-platforms/gitkeep

!build/libs/Paprika.jar

/src/test/resources/witness/db
!/src/test/resources/witness/db/gitkeep